.colorFlair {
  background-color: #455A64;
  display: flex;
  flex-flow: row-reverse;
  width: 100%;
}

.colorFlair a{
  color: white;
  margin: 0 8px;
  text-decoration: none;
}

.title {
  align-items: center;
  background-color: #607D8B;
  color: white;
  display: flex;
  font-size: 32px;
  height: 5em;
  justify-content: center;
}
